.employees {
    padding: 0;
    margin-top: 5vh;
    margin-left: 80px;
    /*background-color: blue;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.form {
    margin-bottom: 50px;
    text-align: left;
    /*background-color: aqua;*/
    width: fit-content;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
}

.form h4 {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.form label, .form input {
    margin: 5px 0;
}

.form button {
    width: 100px;
    margin-top: 10px;
}

.list-employees {
    /*background-color: red;*/
    flex-direction: row;
}

.list-employees h4 {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.list-employees ul {
    display: flex;
    list-style: none;
}

.employees-box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}