td {
    padding: 6px;
    background-color: #ffffff;
    border-collapse: collapse;
}

tbody {
    border-collapse: collapse;
}

.inventory-table {
    text-align: center;
    margin: 5vh auto;
    border-radius: 5px;
}

.table-top {
    background-color: #ff891b;
    color: white;
}

.input-quantity {
    width: 100px;
    margin-right: 5px;
}

.div-quantity {
    margin: 10px;
}