.container-login {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    width: fit-content;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

.form {
    margin-bottom: 50px;
    text-align: left;
}

.form h4 {
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.form label, .form input {
    margin: 5px 0;
}

.form button {
    width: 100px;
    margin-top: 10px;
}

.list-employees {
    /*background-color: red;*/
    flex-direction: column;
}

.list-employees h4 {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
}

.list-employees ul {
    display: flex;
    list-style: none;
}

.employees-box {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}